body {
    background-color: rgb(16, 16, 16);
    min-height: 100vh; 
    display: grid;
    justify-content: center;
    align-content: start;
    padding-top: 2rem;
  }
  
/* Text Configs */
  h1 {
    color: rgb(243, 229, 229);
    font-family: 'Space Mono', monospace;
    font-size: 100px;
    text-align: center;
    line-height: 50%;
  }

  p {
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    text-align: left;
    line-height: 150%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: justify;
    display:block
  }

  hr {
    display: block;
    width:40%;
    color: rgb(255, 255, 255);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
  }

  
  /* Hyperlink Settings */
  a:link {
      color: rgb(255, 255, 255);
      background-color: transparent;
      text-decoration: none;
    }
    
  a:visited {
      color: rgb(255, 238, 0);
      background-color: transparent;
      text-decoration: none;
    }
    
  a:hover {
      color: rgb(126, 126,126);
      background-color: transparent;
      text-decoration: underline;
    }
    
  a:active {
      color: rgb(126, 126, 126);
      background-color: transparent;
      text-decoration: underline;
    } 


  /* Introduction Read More */
  .intro {
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    text-align: center;
    line-height: 150%;
    padding-left: 30%;
    padding-right: 30%;
    display:block 
  }
  
  .intromore {
    display: none;
  }

  .readmorebutton {
    background-color: rgb(16, 16, 16);
    border: 0px solid black;
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    cursor: pointer;
  }

  .readmorebutton:hover {
    color: rgb(255, 238, 0);
  }

  .text.showmore.intromore{
    display: inline;
  }

  /* Date Element */
  .datetime {
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    text-align: center;
    line-height: 150%;
    padding-left: 30%;
    padding-right: 30%;
    display:block 
  }

  /* Project Gallery Flexbox */
  .project-gallery {
    display:flex;
    padding: 0px 250px 0px 250px;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 10px;
  }

  .project:hover {
    transform: translateY(0px);
  }

  .hover_img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    }

  .projecthobby:hover .hover_img {
    display: inline;
  }
  
  .projectmoviedata:hover .hover_img {
    display: inline;
  }

  .projecttictactoe:hover .hover_img {
    display: inline;
  }

  .projectmonkey:hover .hover_img {
    display: inline;
  }
  
  .projectlearning:hover .hover_img {
    display: inline;
  }

  .projectgithub:hover .hover_img {
    display: inline;
  }


  /* London Virtual Tour */
  .building-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 18px;
    color: rgb(71, 89, 255);
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    text-align: center;
  }

  .building-gallery img{
    width: 100%;
    cursor:pointer
  }

  .building-gallery img:hover{
    transform: scale(0.95);
  }  

   /* Learning Log */
   .codesnippet {
    color:rgb(126, 126,126);
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    text-align: left;
    text-align: justify;
    line-height: 150%;
    padding-left: 30%;
    padding-right: 30%;
    display:block 
   }
   
   
   /* Media Queries */
  @media (max-width: 480px) {
    h1 {
      font-size: 50px;
    }
  }